---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

export async function getStaticPaths() {
	const paths = Object.keys(import.meta.glob('../../data/*/*'));
	const technologies = await Astro.glob('../../data/*/*.js');

	const newPaths = paths.map((file) => {
		const [category, technology] = file.split('/').slice(-2);
		return { params: { technology: technology.replace('.js', ''), category }, props: { technologies } };
	});

	return newPaths;
}

const { technology, category } = Astro.params;
const { technologies } = Astro.props;

const { config: technologyData } = technologies.find((tech) => tech.config?.name === technology);
---

<Layout title={`WebCheat - ${technology}`}>
	<!-- {JSON.stringify(technologyData)} -->
	<div class="columns-3 space-y-5 p-5">
		{
			technologyData?.data?.map((tech) => {
				return <Card technology={tech} />;
			})
		}
	</div>
</Layout>
