---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { chunk } from '../../utils/others';

export async function getStaticPaths() {
	const paths = Object.keys(import.meta.glob('../../data/*/*'));
	const technologies = await Astro.glob('../../data/*/*.js');

	const newPaths = paths.map((file) => {
		const [category, technology] = file.split('/').slice(-2);
		return { params: { technology: technology.replace('.js', ''), category }, props: { technologies } };
	});

	return newPaths;
}

const { technology, category } = Astro.params;
const { technologies } = Astro.props;

const { config } = technologies.find((tech) => tech.config?.name === technology);
const size = Math.round(config.data.length / 3);
const technologyData = chunk(config.data, size);
---

<Layout title={`WebCheat - ${technology}`}>
	<div class="flex w-full gap-3 px-10 py-4">
		{
			technologyData.map((column) => {
				return (
					<div class="w-2/6">
						{column.map((tech) => {
							return <Card technology={tech} />;
						})}
					</div>
				);
			})
		}
	</div>
</Layout>
